@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  min-height: 100vh;
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  @include heading;
  color: $color-white;
  padding-top: 10rem;
  padding-bottom: 75rem;
  font-size: 52rem;
  &::after {
    content: '';
    position: absolute;
    bottom: 25rem;
    left: 50%;
    height: 4rem;
    width: 50rem;
    background-color: $color-white;
    transform: translateX(-50%);
  }
}

.imageContainer {
  flex: 1;
  width: 95%;
  max-width: 900rem;
}

.tags {
  & > p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14rem;
    margin-right: 15rem;
    color: $color-white;
  }
}

.body {
  @include container;
  color: $color-white;
  margin: 0 auto;
  padding-top: 25rem;
  line-height: 2em;
  text-align: left;
  & > p {
    @include subHeading
  }
}

@media screen and (min-width: $screen-md) {
  .imageContainer {
    flex: 1;
    width: 60%;
  }
  .body {
    max-width: 800rem;
    padding-top: 50rem;
  }
}