@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  font-size: 18rem;
}

.container {
  @include container;
  display: block;
  padding: 200rem 0 0rem 0;
  text-align: center;
}

.content {
  max-width: 650rem;
  margin: 0 auto;
}

.heading {
  padding-bottom: 0;
  line-height: 1em;
  text-transform: uppercase;
}

.rubric {
  text-transform: uppercase;
  padding-bottom: 25rem;
  font-weight: $font-weight-bold;
}

.details {
  font-size: 15rem;
  padding-top: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.year {
  margin-right: 25rem;
}

.label {
  margin: 7.5rem;
}

.detail {
  color: white;
  font-weight: 600;
  margin: 5rem;
}

.buttonContainer {
  padding-top: 20rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & a {
    margin: 7.5rem;
  }
}

@media screen and (min-width: $screen-md) {

}