@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  height: 100vh;
  background-color: black;
}

.container {
  @include container;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 25vh;
}

.content {
  width: 100%;
  max-width: 600rem;
}

.display {
  @include display;
}

.down {
  height: 50rem;
  width: 50rem;
  position: absolute;
  bottom: 50rem;
  left: 50%;
  transform: translateX(-50%);
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(135deg) brightness(107%) contrast(101%);
}
