@import './styles/variables.scss';

.banner {
  &__container {
    width: 80%;
    margin: auto;
    transform: translateY(-5rem);
    padding-bottom: 10rem;
    max-width: 100rem;
  }
  &__img {
    margin: auto;
    max-width: 100%;
    display: block;
  }
}

.webStack {
  padding: 5rem;
  & img {
    height: 5rem;
    margin: 0 2rem;
  }
}

.container {
  min-width: 300px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 5rem;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.col2 {
  width: 48%;
  padding-bottom: 2rem;
  justify-content: center;
  display: flex;
}

.projImg {
  box-shadow: 0 0 10px rgba(black, 0.05);
  height: 100%;
  width: auto;
}

@media screen and (max-width: $view-sm){
  .banner__container {
    width: 100%;
  }
  .projImg {
    box-shadow: 0 0 10px rgba(black, 0.1);
    height: auto;
    width: 100%;
  }
  .col2 {
    width: 90%;
  }
}