@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  
}

.container {
  @include container;
  display: block;
  & > p {
    // text-align: left;
  }
}

.upper {
  min-height: 80vh;
  padding-top: 30vh;
  text-align: center;
  // background-color: darkblue;
}

.heading {
  @include heading;
  font-size: 48rem;
  padding-bottom: 0;
  text-transform: uppercase;
}

.rubric {
  font-size: 16rem;
  text-transform: uppercase;
  padding-bottom: 40rem;
}

.details {
  font-size: 13rem;
  padding-top: 20rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.year {
  margin-right: 20rem;
}

.label {
  margin-right: 10rem;
}

.detail {
  color: white;
  font-weight: 600;
}

.lower {
  height: 100vh;
  background-color: $color-black-light;
}

.image {
  height: 200rem;
  background-color: darkgray;
}

@media screen and (min-width: $screen-md) {

}