@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  background-color: $color-black-light;
  min-height: 100vh;
  width: 100%;
  padding: 250rem 0;
}

.container {
  @include container;
  text-align: center;
  display: block;
}

.heading {
  @include heading;
  padding-bottom: 100rem;
}