// Colors
$color-black: #000;
$color-black-light: hsl(0, 0%, 4%);
$color-gray-dark: #00010F;
$color-gray-medium: rgb(85, 85, 85);

$color-accent: #CE0057;

$color-primary-dark: #0A0D14;
$color-primary: #0A0D14;
$color-primary-greyed: #3D4048;
$color-gray: #3D4048;
$color-gray-light: #818893;
$color-white: #DBDEE6;


// Fonts
$font: 'Open Sans';
$font-main: 'Open Sans';
$font-head: 'Bebas Neue';
$font-weight-black: 800;
$font-weight-bold: 700;
$font-weight-reg: 400;

// Breakpoints
$screen-sm: '576px';
$screen-md: '768px';
$screen-lg: '992px';
$screen-xl: '1200px';