@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  // background-color: azure;
  padding-bottom: 100rem;
}

.container {
  @include container;
  min-height: 200rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.img {
  flex: 1 0 300rem;
  max-width: 230rem;
  position: relative;
  border-radius: 3rem;
  margin-bottom: 50rem;
  & img {
    width: 100%;
    z-index: 2;
    position: relative;
    border-radius: 3rem;
  }
  & > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5%;
    bottom: -5%;
    background-color: rgba(white, 0.05);
    z-index: 1;
    border-radius: 3rem;
  }
}

.content {
  max-width: 600rem;
  & .heading {
    line-height: 1em;
    padding-bottom: 0;
  }
}

@media screen and (min-width: $screen-lg) {
  .container {
    align-items: flex-start;
  }
  .img {
    margin-right: 100rem;
  }
}