@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  @include container;
  width: 90%;
  height: 55rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 120;
  color: $color-white;
}

.logo {
  font-size: 18rem;
  font-weight: 600;
}

.nav {
  justify-content: flex-end;
  display: none;
  & a, button {
    margin-left: 60rem;
    transition: 0.4s;
    &:hover {
      color: $color-gray-light;
    }
  }
}

.menu {
  height: 20rem;
  width: 35rem;
  position: relative;
  cursor: pointer;
  // background-color: blue;
  // Line elements
  & > div {
    background-color: $color-white;
    height: 2px;
    position: absolute;
    transition: all 0.3s;
    border-radius: 2rem;
  }
  & div:first-child {
    width: 35rem;
    top: calc(50% - 10rem);
    right: 0;
  }
  & div:nth-child(2) {
    width: 35rem;
    top: calc(50%);
    right: 0;
  }
  & div:nth-child(3) {
    width: 20rem;
    top: calc(50% + 10rem);
    right: 0;
  }
}

.active {
  & > div {
    background-color: $color-white;
  }
  & div:first-child {
    transform: translateX(-2rem) translateY(8rem) rotateZ(-45deg);
  }
  & div:nth-child(2) {
    transform: translateX(-2rem)  translateY(-2rem) rotateZ(45deg);
  }
  & div:nth-child(3) {
    width: 35rem;
    transform: translateX(-2rem) translateY(-12rem) rotateZ(45deg);
  }
}

@media screen and (min-width: $screen-lg) {
  .menu {display: none;}
  .nav {display: flex};
}