// Colors
$color-primary: #06295A;
$color-secondary: #EB5B76;
$color-gray-dark: #91959D;
$color-gray-medium: #D3D7DD;
$color-gray-light: #F8F9FA;
$color-white: #FFF;

// Fonts
$font: 'Poppins';
$font-weight-bold: 900;
$font-weight-reg: 400;
$font-weight-thin: 300;

// Breakpoints
$screen-sm: '576px';
$screen-md: '768px';
$screen-lg: '992px';
$screen-xl: '1200px';